# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml
*.ipr
*.iws
local.properties

# Keystores
*.jks
*.keystore
*.pem
*.keystore.properties

# Logs
*.log

# Apk/Bundle
*.apk
*.aab
build-reports.zip
/.reports/
/.reports2/
/.reports3/
/.reports4/
build-reports (2).zip
build-reports (3).zip
build-reports (4).zip
build-reports (5).zip
build-reports (6).zip
/build_logs_extract/
/build_logs_extract2/
build-reports*.zip

# Generated
captures/
outputs/
generated/

# OS
.DS_Store
Thumbs.db
