# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml
*.ipr
*.iws
local.properties

# Keystores
*.jks
*.keystore
*.pem
*.keystore.properties

# Logs
*.log

# Apk/Bundle
*.apk
*.aab
build-reports.zip
/.reports/
/.reports2/
build-reports (2).zip

# Generated
captures/
outputs/
generated/

# OS
.DS_Store
Thumbs.db
